@page "/"

<h1>Hello, world!</h1>

<EditForm Model="@starship" OnValidSubmit="onValidSubmit" OnInvalidSubmit="onInvalidValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="starship.Identifier" />
    <InputCheckbox @bind-Value="starship.BoolProperty" />

    <button type="submit">Submit</button>

    <input type="text">
    <button @onclick="onCancel">cancel (button component)</button>

    <input type="text">
    <input type="button" @onclick="onCancel" value="Cancel (type=button)" />

</EditForm>

<div>Starship is @starship.Identifier</div>

<div>@formSubmission</div>
@code { 
    private Starship starship;

    private string formSubmission = "not submitted";

    protected async override Task OnInitializedAsync()
    {
        starship = new Starship() {  Identifier = "uninitialized" };
    }

    private async Task onCancel()
    {
        formSubmission = "onCancel";
    }

    private async Task onValidSubmit()
    {
        formSubmission = "onValidSubmit";
    }

    private async Task onInvalidValidSubmit()
    {
        formSubmission = "onValidSubmit";
    }
} 